.navigatePages {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--mainColor);
  padding: 20px 50px;
}

.navigatePages a {
  text-decoration: none;
  color: #dacece;
  font-size: 14px;
  font-weight: 400;
}

.navigatePages i,
.navigatePages p {
  font-size: 13px;
}

.navigatePages .dash {
  position: relative;
}

.navigatePages .dash::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 35px;
  background-color: #cfcccc;
}

.productContainer {
  width: 80%;
  margin: auto;
}

.productInfo {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
  margin: 50px 0;
}

.productInfo .imagesContainer {
  display: flex;
  gap: 20px;
  height: 100%;
  width: 900px;
}

.productInfo .sideImages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.productInfo .imagesContainer .headImage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productInfo .imagesContainer .headImage img {
  width: 100%;
}

.productInfo .headImage,
.productInfo .sideImageItem {
  background-color: var(--mainColor);
  border-radius: 9px;
}

.productInfo .sideImageItem {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.productInfo .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productInfo .content .colors p,
.productInfo .content .sizes p {
  margin-bottom: 10px;
  color: #8b8888;
}
.productInfo .content .sizes span {
  background-color: var(--mainColor);
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.productInfo .content .sizes span:first-of-type {
  background-color: #b88e2f;
  color: white;
}

.productInfo .content .colors .colorsItems {
  display: flex;
  gap: 15px;
}
.productInfo .content .colors .colorsItems div {
  border-radius: 50vh;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.productInfo .content .colors .colorsItems div.purple {
  background-color: #816dfa;
}
.productInfo .content .colors .colorsItems div.black {
  background-color: #000000;
}
.productInfo .content .colors .colorsItems div.brown {
  background-color: #b88e2f;
}

.productActionBtns {
  display: flex;
  gap: 25px;
  align-items: center;
}

.productActionBtns .quantityBtn {
  border: 1px solid #9f9f9f;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.productActionBtns .quantityBtn button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 15px;
}
.productActionBtns .addToCartBtn button,
.productActionBtns .compareBtn button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px 20px;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.productInfo .productActionBtns {
  padding-bottom: 35px;
  border-bottom: 1px solid #d9d9d9;
}

.otherDetails {
  color: #9f9f9f;
}

.productInfo .shareIconsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.productInfo .socialIcons {
  display: flex;
  gap: 10px;
}

.productDescreption .descTitles {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 35px;
}

.productDescreption .descTitles h3 {
  color: #9f9f9f;
}
.productDescreption .descTitles h3.active {
  color: #000000;
}
.productDescreption .descreption {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  color: #9f9f9f;
}

.productDescreption .images {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;
  color: #9f9f9f;
}

.productDescreption .images .imageItem {
  background-color: var(--mainColor);
  border-radius: 9px;
  padding: 5px;
}

.productDescreption .images .imageItem img {
  width: 100%;
}

.relatedProduct {
  padding-block: 35px;
  text-align: center;
}

.relatedProduct .title {
  margin-block: 25px;
}

.boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  padding: 10px;
}
.boxin {
  height: 350px;
}

.boxin img {
  width: 100%;
  height: 200px;
}

.moreBtn button {
  background-color: transparent;
  border: 1px solid #b88e2f;
  padding: 10px 20px;
  color: #b88e2f;
  font-weight: 600;
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  .productInfo {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
  }
  .productInfo .imagesContainer {
    width: 100%;
  }
  .productActionBtns .addToCartBtn button,
  .productActionBtns .compareBtn button {
    padding: 10px 10px;
  }
}
