.checkout ul {
  list-style: none;
}

.checkout a {
  text-decoration: none;
}

.img-conteaner {
  position: relative;
  width: 100%;
}

.img-conteaner img {
  width: 100%;
  height: 316px;
  top: 100px;
}

.text-conteaner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-conteaner h3 {
  position: relative;
  bottom: 90px;
  left: 40px;
}
.text-conteaner h2 {
  position: relative;
  bottom: 90px;
  left: -50px;
}

#content {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
  max-width: 1240px;
  margin: auto;
  padding-top: 100px;
}

.form {
  width: 50%;
}

.form h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

form label {
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
  font-size: 15px;
}

form input,
form select {
  width: 100%;
  padding: 22px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

.input {
  margin-bottom: 20px;
}

.table {
  width: 48%;
}

.order-summary {
  padding: 25px;
}

.order-summary h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

.order-summary table {
  width: 100%;
  margin-bottom: 20px;
}

.order-summary table td {
  padding: 8px 0;
  font-size: 18px;
}

.order-summary .total {
  font-weight: bold;
  color: #d89c00;
  font-size: 26px;
}

.payment-methods label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 23px;
}

.payment-methods p {
  font-size: 18px;
  color: #716d6d;
  margin: 10px 0 20px;
  line-height: 1.1;
}

.privacy {
  font-size: 18px;
  color: #555;
  margin: 20px 0;
  line-height: 1.1;
}

.privacy a {
  text-decoration: underline;
  color: black;
}

.btn {
  padding: 15px 100px;
  background: #fff;
  border: 2px solid black;
  border-radius: 12px;
  font-size: 16px;
  transition: 0.3s ease;
  margin-left: 100px;
  margin-top: 10px;
  box-shadow: 1px 1px 1px black;
}

.btn:hover {
  background-color: #babd8e;
}

@media (max-width: 790px) {
  #content {
    flex-direction: column;
    gap: 3rem;
    padding: 50px 20px;
  }

  .form,
  .table {
    width: 100%;
  }

  .form input,
  .form select {
    padding-inline: 10px;
  }

  .btn {
    width: 100%;
    margin-left: 0;
  }
}
