.imge {
  position: relative;
  width: 100%;
  height: auto;
}

.imge .bannerImage {
  width: 100%;
  height: auto;
  display: block;
}

.adresIn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logoBanner {
  margin-bottom: 12px;
  width: 75px;
}

.mainP1 {
  margin-bottom: 12px;
}
